###############################################################################
# Author:	David Geeraerts
# Location:	Olympia, Washington USA
# E-Mail:	dgeeraerts.evergreen@gmail.com
###############################################################################

###############################################################################
# Copyleft License(s)
# GNU GPL (General Public License)
# https://www.gnu.org/licenses/gpl-3.0.en.html
###############################################################################

#################################
#	VERSIONING INFORMATION		#
#	Semantic Versioning used	#
#	http://semver.org/			#
#################################

###############################################################################
# 7z Archiver Configuration File
###############################################################################

# Schema version for the configuration file
ARCHIVER_CONFIG_SCHEMA_VERSION=3.0.0



###############################################################################
# MAIN CONFIGURATION SECTION
###############################################################################

# Single Archive [name and location]
#	ARCHIVE_NAME: What to call the archive
#		...the name will automatically be appended with the compression method: <ARCHIVE_NAME>.7z
#	i.e. ARCHIVE_NAME=documents
# LOCATION can be specified --either local or network
#	Local: i.e. D:\Storage\myArchive
#	Network: i.e. \\MyServer\MyShare\myArchive
ARCHIVE_NAME=

#	SINGLE FOLDER ARCHIVE: What to archive (folder)
#	i.e. ARCHIVE_SOURCE_FOLDER=D:\Workspace\ArchiveTesting
ARCHIVE_SOURCE_FOLDER=

# Bulk folder archive
#	Will automatically create the compressed archive files in the same folder
ARCHIVE_BULK_FOLDER=

# Turn on or off BULK ARCHIVING HASHING
# hard coded to use SHA256
# If not needed, turn off to speed things up
ARCHIVE_BULK_HASH=1

# Bulk Archive Shipping
# send the archive files to a different location. Delete after success.
# Turn on or off
ARCHIVE_BULK_SHIPPING=0
# Location, local or remote
ARCHIVE_BULK_DESTINATION=

# ACTIONS
#	{a: Add files to archive}
#	{b: Benchmark}
#	{d: Delete files from an archive}
#	{e: Extract}
#	{h: Hash}
#	{l: List}
#	{m: Rename}
#	{t: Test}
#	{u: Update}
#	{x: Extract with full paths}
ARCHIVE_ACTION=a


# SWTICHES
#	(most common)
# --	(stop switch parsing) i.e r -t7z -mx5 -ms=on --
# -r	(Recurse subdirectories)
# -t	(Archive type) {tzip, t7z, tiso, tudf}
# -m	(Compression methods)
#		{mx= <0 (copy mode) | 1 (Fastest) | 3 (Fast) | 5 (Normal) | 7 (Maximum) | 9 (Ultra) }	--sets level of compression
#			Compression Method Parameters for 7z <t7z>
#				{mt= on | off}	sets multithreading mode
#				{mtc= on | off}	Stores NTFS timestamps for files: Modification time, Creation time, Last access time.
#				{mtm= on | off} Stores last Modified timestamps for files.
#				{mtc= on | off} Stores Creation timestamps for files.
#				{mta= on | off} Stores last Access timestamps for files.
#				{mtr= on | off} Stores file attributes.
#				{ms= on | off} Sets solid mode. Only used with 7z compression method <-t7z> Cannot update solid archives!

# used when degugging
# ARCHIVE_SWITCH_STRING=-r -t7z -mx1 -mtm=on -mtc=on -mta=on -mtr=on -ms=on"

ARCHIVE_SWITCH_STRING=-r -t7z -mx5 -mtm=on -mtc=on -mta=on -mtr=on -ms=on


# Log Files Settings
#  Main script log file
# 	DEFAULT: LOG_LOCATION=%USERPROFILE%\Documents
#	(Leave blank for default.)
LOG_LOCATION=
#	DEFAULT: LOG_FILE=%SCRIPT_NAME%_%SCRIPT_VERSION%_%COMPUTERNAME%.log
#	(Leave blank for default.)
LOG_FILE=

# Log File shipping
# <\\SERVER\SHARE>
LOG_SHIPPING_LOCATION=


###########################################################################
#		*******************
#		 Advanced Settings
#		*******************
###########################################################################

# Clean up folders after archiving is done
#	once the folder(s) have successfully been archived, the folder(s) can
#	can be deleted.
#	{1 (on) | 0 (off)}
ARCHIVE_CLEAN_UP=0

# Files to exclude (Universal)
#	Recommended: -xr!*.tmp -xr!.DS_STORE -xr!._.DS_STORE -xr!._* -xr!.apdisk
ARCHIVE_FILE_EXCLUDE=-xr!*.tmp -xr!.DS_STORE -xr!._.DS_STORE -xr!._* -xr!.apdisk

# FUTURE FEATURE [+]
# LOGGING LEVEL CONTROL
#  by default, ALL=0 & TRACE=0
LOG_LEVEL_ALL=0
LOG_LEVEL_INFO=1
LOG_LEVEL_WARN=1
LOG_LEVEL_ERROR=1
LOG_LEVEL_FATAL=1
LOG_LEVEL_DEBUG=0
LOG_LEVEL_TRACE=0

# Automatically set a DEBUG machine for ALL logging
DEBUGGER_PC=

# To cleanup or Not to cleanup, the variable files
#  0 = OFF (NO)
#  1 = ON (YES)
VAR_CLEANUP=1

###############################################################################
