#############################################################################################
# Author:		David Geeraerts																#
# Location:	Olympia, Washington USA															#
# E-Mail:		dgeeraerts.evergreen@gmail.com												#
#																							#
#	Copyright License																		#
# 	Creative Commons: Attribution-NonCommercial-ShareAlike 3.0 Unported (CC BY-NC-SA 3.0)	#
# 	http://creativecommons.org/licenses/by-nc-sa/3.0/										#
#																							#
#############################################################################################

#################################
#	VERSIONING INFORMATION		#
#	Semantic Versioning used	#
#	http://semver.org/			#
#################################

###############################################################################
# 7z Archiver Configuration File
###############################################################################

# Schema version for the configuration file
ARCHIVER_CONFIG_SCHEMA_VERSION=1.0.0

###############################################################################
# Git Information
# GitHub [https://github.com]
# GitHub Repository Name: 7z_Archiver
# HTTPS URI (for cloning)
$GITHUB_REPOSITORY_HTTPS_URI=https://github.com/DavidGeeraerts/7z_Archiver.git
$GITHUB_REPOSITORY_SSH=
###############################################################################


###############################################################################
# MAIN CONFIGURATION SECTION
###############################################################################

# One Off Archive
#	ARCHIVE_NAME: What to make into an archive
#	i.e. D:\Mounts\Archives\research\research
#		...the name will automatically be appended with the compression method: <ARCHIVE_NAME>.7z
#	i.e. ARCHIVE_NAME=Wiki
ARCHIVE_NAME=
#	ARCHIVE_SOURCE_FOLDER: What to archive (folder)
#	i.e. ARCHIVE_SOURCE_FOLDER=D:\Workspace\ArchiveTesting
ARCHIVE_SOURCE_FOLDER=
# Bulk folder archive
#	Will automatically create the compressed archive files in the same folder
ARCHIVE_BULK_FOLDER=


# ACTIONS
#	{a: Add files to archive}
#	{b: Benchmark}
#	{d: Delete files from an archive}
#	{e: Extract}
#	{h: Hash}
#	{l: List}
#	{m: Rename}
#	{t: Test}
#	{u: Update}
#	{x: Extract with full paths}
ARCHIVE_ACTION=a


# SWTICHES
#	(most common)
# --	(stop switch parsing) i.e r -t7z -mx5 -ms=on --
# -r	(Recurse subdirectories)
# -t	(Archive type) {tzip, t7z, tiso, tudf}
# -m	(Compression methods)
#		{mx= <0 (copy mode) | 1 (Fastest) | 3 (Fast) | 5 (Normal) | 7 (Maximum) | 9 (Ultra) }	--sets level of compression
#			Compression Method Parameters for 7z <t7z>
#				{mt= on | off}	sets multithreading mode
#				{mtc= on | off}	Stores NTFS timestamps for files: Modification time, Creation time, Last access time.
#				{mtm= on | off} Stores last Modified timestamps for files.
#				{mtc= on | off} Stores Creation timestamps for files.
#				{mta= on | off} Stores last Access timestamps for files.
#				{mtr= on | off} Stores file attributes.
#				{ms= on | off} Sets solid mode. Only used with 7z compression method <-t7z> Cannot update solid archives!

# used when degugging
# ARCHIVE_SWITCH_STRING=-r -t7z -mx1 -mtm=on -mtc=on -mta=on -mtr=on -ms=on"

ARCHIVE_SWITCH_STRING=-r -t7z -mx5 -mtm=on -mtc=on -mta=on -mtr=on -ms=on


# Log Files Settings
#  Main script log file

#	DEFAULT
# ARCHIVE_LOG_LOCATION=%USERPROFILE%\Documents
# ARCHIVE_LOG_FILE=%SCRIPT_NAME%_%SCRIPT_VERSION%_%COMPUTERNAME%.log
ARCHIVE_LOG_LOCATION=
# ONLY IF DIFFERENT FROM THE DEFAULT! OTHERWISE LEAVE BLANK
ARCHIVE_LOG_FILE=


###########################################################################
#		*******************
#		 Advanced Settings
#		*******************
###########################################################################

# Clean up folders after archiving is done
#	{1 (on) | 0 (off)}
ARCHIVE_CLEAN_UP=0

# Files to exclude (Universal)
ARCHIVE_FILE_EXCLUDE=-xr!*.tmp -xr!.DS_STORE -xr!._.DS_STORE -xr!._* -xr!.apdisk


# FUTURE FEATURE [+]
# LOGGING LEVEL CONTROL
#  by default, ALL=0 & TRACE=0
LOG_LEVEL_ALL=0
LOG_LEVEL_INFO=1
LOG_LEVEL_WARN=1
LOG_LEVEL_ERROR=1
LOG_LEVEL_FATAL=1
LOG_LEVEL_DEBUG=0
LOG_LEVEL_TRACE=0

###############################################################################
